@import 'variables.scss';
@import 'card.scss';


html {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  // height: 1000px;
  height: 100%;
  background-color: $page-bg;
}